<!DOCTYPE html>
<html>
<head>
    <title>Spyral Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">

</head>
<body>
    <h1>Spyral Messages</h1>

    <div id="messages"></div>
    <div id="bottom-frame">
        <form id="inputs-frame" onsubmit="sendMessage(); return false;">

          <input
            type="search"
            id="message"
            class="message-input"
            placeholder="Message"
            enterkeyhint="send"
            autocomplete="off"
        >
            <button id="send-button" >➜</button>
            
        </form>
        <!-- <a id="pub" href="https://github.com/Croney-Tech">Powered By Dev.Croney-Tech</a> -->
   </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
